.search-input {
	display: flex;
	background-color: #fddc24;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 396px;
	height: 40px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 1.5em;
	border-width: 0.01cm;
}
